* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.form-register {
    background-color: #eaf7d5;
    opacity: .85;
    padding: 0 10px;
    box-shadow: 0px 0px 20px #848484;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    background-color: #eaf7d5;
    opacity: .85;
    padding: 0 10px;
    box-shadow: 0px 0px 20px #848484;
    margin-bottom: 9px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}

.form-register a {
    color: darkgreen;
    text-decoration: none;
}

.form-register a:hover {
    color: green;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background:  #029928;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}